{% extends 'flatpages/default.html' %}
{% load filters %}

{% load tags %}

{% block title %}
Новости
{% endblock title %}

{% block content %}
    <h1 class="text-center">новости из категории: <span class="text-muted fs-6 fw-normal"> {{ category }}</span></h1>
    {% if is_not_subscriber %}
        <p class="text-center"><a href="{% url 'subscribe' category.id %}" class="btn btn-secondary btn-sn">Подписаться</a></p>
    {% endif %}

   <hr>
   {% if category_news_list %}
       <h3> Количество постов: {{ news|length }}</h3>

           {% for p in category_news_list %}
               <li class="list-group-item">
                   <small class="fw-bold">{{ p.time_create|date:'d.m.Y' }}</small>
                   <a href="{% url 'detail_news' pk=p.id %}">{{ p.heading|censor }} </a>
                   <small class="text-muted">(автор: {{ p.author }})</small> <br>
                   <small class="fw-bold">Категории:
                        {% for category in p.category.all %}
                            <a href="{% url 'category_list' category.id %}"> {{ category }}</a>
                        {% endfor %}
                   </small>
                   <p>{{ p.content|censor|truncatechars:20 }}</p>
               </li>
           {% endfor %}
           </ul>
   {% else %}
       <h2>Новостей  нет!</h2>
   {% endif %}

   {#======================================================#}
   {# Добавляем пагинацию на страницу #}
   {# Информация о предыдущих страницах #}
   {% if page_obj.has_previous %}
            {# пример без фильтра   <a href="?page=1">1</a> #}
    <a href="?{% url_replace page=1 %}">1</a>
       {% if page_obj.previous_page_number != 1 %}
           ...
            {# пример без филь/тра <a href="?page={{ page_obj.previous_page_number }}">{{ page_obj.previous_page_number }}</a> #}
    <a href="?{% url_replace page=page_obj.previous_page_number %}">{{ page_obj.previous_page_number }}</a>
       {% endif %}
   {% endif %}

   {# Информация о текущей странице #}
   {{ page_obj.number }}

   {# Информация о следующих страницах #}
   {% if page_obj.has_next %}
            {# пример без фильтра <a href="?page={{ page_obj.next_page_number }}">{{ page_obj.next_page_number }}</a> #}
       <a href="?{% url_replace page=page_obj.next_page_number %}">{{ page_obj.next_page_number }}</a>
       {% if paginator.num_pages != page_obj.next_page_number %}
           ...
           {# пример без фильтра <a href="?page={{ page_obj.paginator.num_pages }}">{{ page_obj.paginator.num_pages }}</a> #}
           <a href="?{% url_replace page=page_obj.paginator.num_pages %}">{{ page_obj.paginator.num_pages }}</a>
       {% endif %}
   {% endif %}
   {#======================================================#}

{% endblock content %}

